<% @articles.each do |article| %>
  <div class='card mt-4'>
    <h2 class='card-header'><%= link_to article.title, article_path(article) %></h2>
    <div class='card-block'>
      <div class='card-text mb-2'>
        <%= truncate(article.description, length: 250) %>
        <div class='article-meta-details'>
        <small>
          <p>
            Created by: <%= article.user.username if article.user %>
            <%= time_ago_in_words(article.created_at) %> ago
            <br />
            Last updated: <%= time_ago_in_words(article.created_at) %> ago
          </p>
        </small>
        </div>
      </div>
      <div class="article-actions">
        <%= link_to 'Edit',   edit_article_path(article),
                              class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Show',   article_path(article), 
                              class: 'btn btn-info btn-sm' %>
        <%= link_to 'Delete', article_path(article),
                              method: :delete,
                              data:   {confirm: 'Are you sure?' },
                              class:  'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
